<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <!-- headerのパーションをレンダリング -->
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <!-- footerのパーシャルをレンダリング -->
      <%= link_to 'layouts/footer' %>
    </div>
  </body>
</html>
